* {
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 100px;
  height: 1000px; /* Adjust the height as needed */
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.slide-content {
  max-width: 600px;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 10rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #124ae6; /* Change subtitle color to your preference */
  margin: 10px 0;
}

p {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #030508;
}

.learn-more {
  padding: 10px 20px;
  background-color: white;
  color: #333;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
